@media screen and (max-width:600px) {
    nav {
        margin-top: 19px;
    }

    .nav-bar {
        flex-direction: column;
    }

    .nav-bar div {
        width: 100%;
    }

    .nav-title p {
        font-size: 30px;
    }

    .nav-title p span {
        font-size: 30px;
    }

    .nav-links {
        justify-content: flex-start;
        align-items: center;
    }

    .nav-links ul {
        list-style: none;
        gap: 5px;
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .nav-links ul a {
        font-size: 16px;
    }

    .nav-links ul a span {
        font-size: 16px;
    }

    /* container */

    .banner-content {
        margin: 10px auto;
        text-align: center;
        height: 500px;
        background-size: cover;
    }

    .container {
        max-width: 90%;
        margin: 0 auto;
    }

    /* banner */
    .banner-content h1 {
        padding-top: 85px;
        font-size: 30px;
    }

    .banner-content p {
        padding-bottom: 25px;
        font-size: 14px;
        line-height: 16px;

    }

    .banner-input {
        display: inline-flex;
        flex-direction: column;
        padding: 16px;
        gap: 10px;
    }

    .banner-input input {
        width: 255px;
        height: 52px;
        flex-shrink: 0;
    }

    /* Popular */
    .popular {
        flex-direction: column;
    }

    .popular div {
        max-width: 100%;
    }

    /* Destination section */
    .destination {
        margin-top: 24px;
    }

    .desti-img {
        gap: 18px;
        grid-template-areas:
            "img1"
            "img2"
            "img3"
            "img4"
            "img5"
            "img6"
            "img7"
        ;
    }

    .desti-img img {
        width: 100%;

    }

    /* Why Choose Us Section */
    .box-row1 {
        flex-direction: column;
        gap: 24px;
    }

    .choose-us-box .box-row1 .box-01 {
        width: 80%;
        height: 250px;
    }

    .choose-us-box .box-row1 .box-02 {
        width: 80%;
        height: 250px;
    }

    .box-row2 {
        flex-direction: column;
    }

    .choose-us-box .box-row2 .box-03 {
        width: 80%;
        height: 250px;
    }

    /* Perfect Place Section */
    .perfect-place {
        flex-direction: column;
    }

    .perfect-place div {
        width: 100%;
    }
    .p-place-content h1 {
        font-size: 30px;
        max-width: 248px;
    }
    .p-place-content p {
        min-width: 335px;
        margin: 16px 0px;

    }
    .p-place-content .btn-primary{
        margin-bottom: 24px;
    }
    .p-place-img{
        min-height: 200px;
    }

    /* Newsletter Section */
    .newsletter {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .news-box {
        width: 375px;
        max-width: 100%;
        max-height: 422px;
    }

    .news-img {
        width: 100%;
        height: 422px;
    }
    .news-tag {
        width: 230px;
        height: 85px;
    }
    .news-tag p{
        padding-top: 12px;
        font-size: 15px;
        font-weight: 400;
    }
    .news-tag h3{
        font-size: 22.138px;
        font-weight: 800;
    }

    /* Footer Section */
    footer{
        height: 400px;
    }
    .footer-title p{
        font-size: 22px;
    }
    .footer-title p span{
        font-size: 22px;
    }
    .footre-desc p{
        font-size: 15px;
    }
}