* {
    margin: 0;
    padding: 0;
}

/* sheared */
.container {
    max-width: 81%;
    margin: 0 auto;
}

.s-heading {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}

.s-description {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
}

/* Navbar start */

/* nav-title */
nav {
    padding-top: 52px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

.nav-bar div {
    width: 50%;
}

.nav-title {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-title i {
    display: none;
}

.nav-title img {
    width: 53px;
    height: 58px;
    flex-shrink: 0;
    margin-bottom: 20px;
}

.nav-title p {
    color: #131318;
    font-family: Mulish;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.nav-title p span {
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}

/* nav-links */
.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-links ul {
    display: flex;
    list-style: none;
    gap: 44px;
}

.nav-links ul a {
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

.nav-links ul a span {
    color: #FF5400;
    font-size: 18px;
    font-weight: 700;
}

/* banner */
.banner-content {
    margin: 100px 0px;
    border-radius: 16px;
    text-align: center;
    height: 500px;
    background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content h1 {
    padding-top: 160px;
    color: #ffffff;
    font-size: 64px;
    font-weight: 800;
}

.banner-content p {
    color: #e7e7e7;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}

.banner-input {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;

    border-radius: 8px;
    background: rgba(255, 255, 255, 0.527);
}

.banner-input input {
    max-width: 174px;
    height: 52px;
    flex-shrink: 1;
    border-radius: 8px;
    background: #FFF;
    padding-left: 16px;
    border: none;
}

.banner-input button {
    min-width: 100px;
    width: 174px;
    height: 52px;
    flex-shrink: 1;
    flex-basis: 174pxpx;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

/* Popular */
.popular {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular div {
    max-width: 50%;
}

.popular-content>ul {
    padding-left: 20px;
}

.popular-img img {
    width: 100%;
}

.popular-content p {
    margin: 24px 0px;
}
.popular-content .btn-primary{
    margin-bottom: 24px;
}


/* Destination */
.destination {
    margin-top: 100px;
}

.destination .desti-content {
    text-align: center;
    margin-bottom: 48px;
}

/* Using Grid */
.d-img-1 {
    grid-area: img1;
}

.d-img-2 {
    grid-area: img2;
}

.d-img-3 {
    grid-area: img3;
}

.d-img-4 {
    grid-area: img4;
}

.d-img-5 {
    grid-area: img5;
}

.d-img-6 {
    grid-area: img6;
}

.d-img-7 {
    grid-area: img7;
}

.desti-img {
    display: grid;
    gap: 24px;
    grid-template-areas:
        "img1   img1    img1    img1    img2    img2    img2    img2"
        "img3   img3    img4    img4    img4    img4    img5    img5"
        "img6   img6    img6    img7    img7    img7    img7    img7"
    ;
}

.desti-img img {
    width: 100%;
    height: 100%;
}


/* Why Choose us Section */
.choose-us {
    margin-top: 120px;
}

.choose-us-content {
    text-align: center;
    margin-bottom: 48px;
}

.choose-us-box .box-row1 img {
    max-width: 64px;
}

.choose-us-box .box-row2 img {
    max-width: 64px;
}

/* Row-1 */
.choose-us-box .box-row1 .box-01 {
    padding: 32px;
    width: 45%;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.choose-us-box .box-row1 .box-02 {
    padding: 32px;
    width: 40%;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

/* Row-2 */
.choose-us-box .box-row2 .box-03 {
    padding: 32px;
    width: 45%;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.box-01 h4 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.box-02 h4 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.box-03 h4 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.box-01 p {
    max-width: 486px;
}

.box-02 p {
    max-width: 486px;
}

.box-03 p {
    max-width: 486px;
}


.box-row1 {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

.box-row2 {
    display: flex;
    justify-content: center;
}


/* Perfect-place Section */
.perfect-place {
    margin-top: 100px;
    display: flex;
}

.perfect-place div {
    width: 50%;
}

/* .p-place-img img {
    width: 100%;
} */

.p-place-img {
    background-image: url(./Images/Group\ 40089.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.p-place-img h3 {
    width: 276px;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
.p-place-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-place-content h1 {
    max-width: 448px;
}

.p-place-content p {
    max-width: 532px;
}

.p-place-content ul {
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    max-width: 500px;
    padding-left: 20px;
    margin-bottom: 32px;
}

/*  */